/* 서버 목록 div 제어문 */
.sidenav {
	height: 100%;
	width: 105px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	transition: 0.5s;
	padding-top: 10px;
}
/* 서버 목록 ul 제어문  */
.sidenav .sidemenu {
	margin: 0px;
	padding: 0px;
}
/* 서버목록 기본세팅(div가 보이지 않음)  */
.sidenav .inner {
	display: none;
	background: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 180px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 110px;
	overflow: hidden;
	transition: 0.5s;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
}

/* 서버 목록 li 제어문  */
.sidenav .d1 {
	padding: 8px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidenav .d1:hover {
	background: rgba(0, 0, 0, 0.7);
	color: #1EA4FF;
}

/*  두번째 목록의 div 추가세팅 */
.sidenav .inner .core {
	margin: 0px;
	padding: 0px;
	display: block;
	/* 마우스 호버시 작동해야함 display: block; */
	padding-top: 14px;
}

.date_manage {
	padding-left: 5px;
}

.go_date {
	color: white;
	margin-top: 5px;
	list-style: none;
}

.go_date:hover, .go_date:active {
	background: rgba(0, 0, 0, 0.7);
	color: #1EA4FF;
}

.go_time {
	color: white;
	list-style: none;
}

.go_time:hover, .go_time:active {
	background: rgba(0, 0, 0, 0.7);
	color: #1EA4FF;
}

/* 두번째 목록 ul 위치, 스타일 제어  */
.sidenav .inner .list, .sidenav .inner .list {
	padding-left: 0px;
	padding-bottom: 10px;
	text-decoration: none;
	list-style: none;
	color: white;
	transition: 0.3s;
	overflow: hidden;
}

/* 두번째 목록 li 위치, 스타일 제어 */
.core li a {
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	transition: 0.3s;
}

/* 두번째 목록 li의 a에 마우스오버시 작동  */
.core li a:hover {
	color: #1EA4FF;
}

#timebar {
	display: none;
	/* 마우스 호버시 작동해야함 display: inline-block; */
	/* 호버시 작동해야할 스타일이지만 임시로 기본 세팅해놓았음 */
	background: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 150px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 290px;
	overflow: hidden;
	transition: 0.5s;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
}

#timebar>#timestamp {
	padding-left: 0px;
	padding-top: 15px;
	text-decoration: none;
	list-style: none;
	color: white;
	transition: 0.3s;
	overflow: hidden;
	font-size: 1.5em;
}

.sidenav>.teamlists>.team_name {
	padding-left: 0px;
	padding-top: 5px;
	text-decoration: none;
	list-style: none;
	color: white;
	transition: 0.3s;
	overflow: hidden;
}

.sidenav>.teamlists>.team_name a {
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidenav>.teamlists>.team_name a:hover {
	color: #1EA4FF;
}

/* 세번째 목록 기본세팅 (div 보이지 않음) */
.sidenav .teamlists {
	display: none;
	/* 마우스 호버시 작동해야함 display: inline-block; */
	/* 호버시 작동해야할 스타일이지만 임시로 기본 세팅해놓았음 */
	background: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 150px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 440px;
	overflow: hidden;
	transition: 0.5s;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
}
/* 세번째 하는중 */
/* .core li a:hover .team_name {
	background: rgba(0, 0, 0, 0.7);
	display: block;
	height: 100%;
	width: 150px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 290px;
	overflow: hidden;
	transition: 0.5s;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
}
 */
/* 주문양식 기본셋팅(div가 보이지 않음)  */
.order {
	display: inline-block;
}

/*  판매(주문) 목록의 div 추가세팅 하는중*/
.order .menu {
	margin: 0px;
	padding: 0px;
	display: none;
	/* 마우스 호버시 작동해야함 display: block; */
	padding-top: 14px;
	/* 호버시 작동해야할 스타일이지만 임시로 기본 세팅해놓았음 */
	height: 100%;
	width: 1000px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 590px;
	background-color: rgba(0, 0, 0, 0.9);
	overflow: hidden;
	transition: 0.5s;
	padding-top: 10px;
}
/* 주문양식 제어문 하는중 */
/* .core li a:hover .order,  .core li a:active .order {
	display: block;
	height: 100%;
	width: 500px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 440px;
	background-color: rgba(0, 0, 0, 1.0);
	overflow: hidden;
	transition: 0.5s;
	padding-top: 10px;
} */
.order .menu .menupan p {
	text-align: left;
	font-size: 20px;
	letter-spacing: 3px;
	color: #fff;
}

.team_info {
	display: block;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 23px;
}

.team_sn {
	display: inline-block;
	text-align: left;
}

.team_sn .team_name {
	color: #1EA4FF;
	text-decoration: none !important;
}

.team_tn {
	display: inline-block;
	float: right;
}

.team_tn .team_name {
	font-size: 2.2rem;
	text-decoration: none !important;
	margin-right: 20px;
	color: #1EA4FF;
}

.menupan in_menu {
	display: inline-block;
	width: 100%;
}

.menupan .items {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.item {
	display: inline-block;
	padding: 20px;
	height: 50px;
	text-align: center;
}

.item a {
	font-size: 20px;
	color: #fff !important;
	text-decoration: none !important;
}

.item>.item_c {
	width: auto;
	height: 30px;
	display: flex;
	justify-content: space-between;
}

.item_c>span {
	float: right;
	margin-left: 10px;
}