* {
    box-sizing: border-box;
}
body > * {
	all:unset;
		
}
#intro_video {
	position: fixed;
	right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.container {
	position: fixed;
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    text-align:center;
 }

.container h1 {
	text-align: center;
	font-size: 65px;
	text-transform: uppercase;
	color: #fff;
	padding-top: 15%;
	margin-bottom: 10px;
}

.container p {
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	color: #fff;
}

.container .kakao {
	position : relative;
	display: inline-block;
	
}

.container #login_other {
	display: block;
	margin: 0 auto;
	font-size: 16px;
	padding: 12px 20px 12px 20px;
	color: #fff;
	background-color: #FE2E2E;
	border-radius: 5px;
	border: none;
	font-family: Malgun Gothic;

}

.container #login_other:hover {
		background-color: #DF0101;
}

#Btn_video {
	width: 100px;
	font-size: 18px;
	
	border: none;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	
	display: block;
	margin: 0 auto;

}

#Btn_video:hover {
	font-weight: bold;
}


