#background_video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	color: #f1f1f1;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: center;
}

.content {
	width: 800px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	top: 50%;
	left: 50%;
	display: block;
	color: #000;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 30px 30px;
	box-sizing: border-box;
	position: absolute;
}

.datetimepicker {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	display: none;
	color: #000;
	box-sizing: border-box;
	position: absolute;
}

.mainform {
	border-radius: 10px;
	background: rbga(0, 0, 0, 0.8);
	margin: 0 auto;
	display: block;
	width: 95%;
	margin-top: 10px;
}

.mainform>h2, .mainform>h5 {

	margin: 0;
	text-align: center;
}

.hr {
	margin-top: 2%;
	margin-bottom: 2%;
	
}

.team_register {
	margin-bottom: 15px;
}

.team_raid {
	height: 30px;
}

.sales {
	width: auto;
	margin: 0;
	display: inline-block;
}

.named_class {
	margin-top: 2px;
	margin-bottom: 2px;
}

.named, .named2, .named3, .named4 {
	font-size: 20px;
	font-weight: bold;
	display: none;
	color: #000;
}

.bs_item_1st {
	display: none;
	float: left;
	margin-top: 2px;
	margin-bottom: 5px;
	text-align: left;
}

.bs-sale-item1, .bs-sale-item2, .bs-sale-item3, .bs-sale-item4 {
	width: 50%;
	display: none; 
	float: left;
	margin-top: 2px;
	margin-bottom: 5px;
	text-align: left;
}

.vt-sale-item1, .vt-sale-item2, .vt-sale-item3, .vt-sale-item4 {
	width: 50%;
	display: none;
	float: left;
	margin-top: 2px;
	margin-bottom: 5px;
	text-align: left;
}

.tw-sale-item1, .tw-sale-item2, .tw-sale-item3, .tw-sale-item4 {
	width: 50%;
	display: none;
	float: left;
	margin-top: 2px;
	margin-bottom: 5px;
	text-align: left;
}

.rd-sale-item1, .rd-sale-item2, .rd-sale-item3 {
	width: 50%;
	display: none;
	float: left;
	margin-top: 2px;
	margin-bottom: 5px;
	text-align: left;
}



.sale-item-name a, .sale-item-name2 a,.sale-item-name3 a, .sale-item-name4 a {
	color: #000;
	font-weight: normal;
	display: inline-block;
}

.sale-item-name-bs1,
.sale-item-name-bs2,
.sale-item-name-bs3,
.sale-item-name-bs4,
.sale-item-name-vt1,
.sale-item-name-vt2,
.sale-item-name-vt3,
.sale-item-name-vt4,
.sale-item-name-tw1,
.sale-item-name-tw2,
.sale-item-name-tw3,
.sale-item-name-tw4,
.sale-item-name-rd1,
.sale-item-name-rd2,
.sale-item-name-rd3 {
	width: 180px;
	margin: 0px;
	display: inline-block;
}

#multi_ck {
	border: none;
	outline: none;
	height: 30px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

#multi_ck:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.mainform  input[type=text], .sales input[type=text] {
	width: 115px;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	height: 20px;
	color: #fff;
	font-size: 16px;
}

.writeprice {
	display: none;
}

.sales input[type="button"] {
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	margin: 0 auto;
	display: none;
}

.sales input[type="button"]:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}