#background_video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	color: #f1f1f1;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: center;
}

.content {
	width: 800px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	top: 50%;
	left: 50%;
	display: block;
	color: #000; position : absolute;
	transform: translate(-50%, -50%); 
	padding: 30px 30px;
	box-sizing: border-box; 
	position: absolute;
}

.mainform {
	border-radius: 10px;
	background: rbga(0, 0, 0, 0.8);
	margin: 0 auto;
	display: block;
	width: 95%;
	margin-top: 10px;
}

.mainform>h2 {
	padding-top: 10px;
	margin: 0;
	text-align: center;
}

.team_register {
	margin-bottom: 15px;
}

.team_raid {
	height: 30px;
}

.sales {
	width: auto;
	margin: 0;
	display: inline-block;
}

.named_class {
	margin-top: 2px;
	margin-bottom: 2px;
}

.named, .named2, .named3, .named4{
	font-size: 20px;
	font-weight: bold;
	display: none;
	color: #000;
}

.sale-item, .sale-item2,.sale-item3,.sale-item4 {
	width: 50%;
	display: none;
	float: left;
	margin-top: 2px;
	margin-bottom: 5px;
	text-align: left;
}

.sale-item-name a {
	color: #000;
	font-weight: normal;
}

.sale-item-name {
	width: 180px;
	margin: 0;
	display: inline-block;
}


#multi_ck {
	border: none;
	outline: none;
	height: 30px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

#multi_ck:hover
{
cursor: pointer;
background:#ffc107;
color:#000;
}


.mainform  input[type=text], .sales input[type=text] {
	width: 100px;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	height: 20px;
	color: #fff;
	font-size: 16px;
}

.writeprice {
	
	display: none;
}

.sales input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	margin: 0 auto;
	display: none;
}

.sales input[type="submit"]:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}